langchain
langchain-core
langchain-community
langchain-groq
langchainhub
langchain-google-genai 
asyncpg
streamlit
PyPDF2
python-dotenv
requests
pypdf
aioredis
Celery
python-socketio
langchain-anthropic
websocket-client
duckduckgo-search
midjourney-api
langchain-chroma
faiss-cpu
chromadb
redis
langchain-ollama
langserve
fastapi
uvicorn
sse_starlette
langchain-tavily
streamlit-lottie
youtube-transcript-api
google-search-results

tavily-python

pydantic_ai
langgraph

Ipython
docling